<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sobkhobor | {{ view.title }}</title>
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/foundation/foundation.min.css')}}">
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/foundation/normalize.css')}}">
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/news.css')}}">
    <script src="{{request.static_url('allnews:static/js/foundation/jquery.js')}}"></script>
    <script src="{{request.static_url('allnews:static/js/foundation/foundation.min.js')}}"></script>


</head>
<body >
<div class="banner">
    <img src="{{ request.static_url('allnews:static/image/banner_2.jpg')}}"/>
</div>


{% block newslist %}{% endblock %}









{% block table %}{% endblock %}
{% block column %}{% endblock %}

{#<script src="{{request.static_url('allnews:static/js/angular_1_3_15/angular.min.js')}}"></script>#}


</body>
</html>