<!doctype html>
<html class="no-js" lang="en" data-ng-app="Cqladmin">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{#    <title>cqlAdmin | {{ view.title }}</title>#}
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/foundation/foundation.min.css')}}">
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/foundation/normalize.css')}}">
    <link rel="stylesheet" href="{{ request.static_url('allnews:static/css/news.css')}}">
{#    <script src="{{request.static_url('allnews:static/js/foundation/jquery.js')}}"></script>#}
{#    <script src="{{request.static_url('allnews:static/js/foundation/foundation.min.js')}}"></script>#}


</head>
<body >
<nav class="top-bar hide-for-small">
    <ul class="title-area">
        <li class="name">
            <h1><a title="Sobkhobor" href="http://sobkhobor.com">Sobkhobor</a> </h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>
                <a class="" href="/about">Home</a>
            </li>
            <li>
                <a class="" href="/subscribe">Bangladesh</a>
            </li>
            <li>
                <a class="" href="/contact">International</a>
            </li>
            <li>
                <a class="" href="/contact">Economy</a>
            </li>
            <li>
                <a class="" href="/contact">Sports</a>
            </li>
            <li>
                <a class="" href="/contact">Technology</a>
            </li>
            <li>
                <a class="" href="/contact">Politics</a>
            </li>
            <li>
                <a class="" href="/contact">Entertainment</a>
            </li>
            <li>
                <a class="" href="/contact">Life style</a>
            </li>
        </ul>
    </section>
</nav>
<section role="main">
    <div class="header">
        <div class="row">
            <div class="large-6 columns">
                <h2 ><a href="">News window  </a></h2>
            </div>
            <div class="large-6 columns"></div>
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">

        </div>
        <div class="large-3 columns"></div>

    </div>

    {% block newslist %}{% endblock %}


</section>







{% block table %}{% endblock %}
{% block column %}{% endblock %}

{#<script src="{{request.static_url('allnews:static/js/angular_1_3_15/angular.min.js')}}"></script>#}


</body>
</html>