{% extends "index.jinja2" %}
{% block newslist %}

    <div class="row">
        <div class="large-9 small-12 columns">
            {% for news in newsset %}
                <div class="row">
                    <div class="large-2 columns small-3">

                        {% if news.image_url %}
                            <img src="{{ news.image_url }}"/>
                        {% else %}
                            <img src="{{ request.static_url('allnews:static/image/news_defaut.png')}}"/>
                        {% endif %}
                    </div>
                    <div class="large-10 columns">
                        <h4 class="heading"><a href="{{ news.detail_url}}">{{ news.title }}</a></h4>
                        <p>{{ news.description }} <a class=" secondary" href="{{ news.detail_url }}">--></a></p>
                        <ul class="inline-list">
                            <li class="radius info label"><a href="{{ news.detail_url}}"><strong>{{ news.source}}</strong></a></li>
                            <li  class="radius info label"><a href="">{{ news.created.strftime('%Y-%m-%d') }}</a></li>
                        </ul>
                    </div>
                </div>
                <hr/>
            {% endfor %}
            <div class="pagination-centered">
            <ul class="pagination" aria-label="Pagination">
                <li class="arrow unavailable"><a href="">&laquo; Previous</a></li>
                {% if pager %}
                    {% for key, value in pager.items() %}
                           <li><a href="?next_page={{ key }}">{{ key }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="arrow"><a href="">Next &raquo;</a></li>
            </ul>
            </div>

        </div>
        <div class="large-3 columns"></div>

    </div>




















{% endblock %}