{% extends "index.jinja2" %}
{% block newslist %}

    <div class="row">
        <div class="large-1 columns hide-for-small"></div>
        <div class="large-10 small-12 columns">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <dl class="sub-nav hidden-for-small-only">
                        <dd><a class="" href="/">প্রচ্ছদ</a></dd>
                        <dd> <a class="" href="/category/bangladesh">বাংলাদেশ</a></dd>
                        <dd><a class="" href="/category/international">আন্তর্জাতিক</a></dd>
                        <dd><a class="" href="/category/economy">অর্থনীতি</a></dd>
                        <dd><a class="" href="/category/sports">খেলা</a></dd>
                        <dd><a class="" href="/category/technology">বিজ্ঞান ও প্রযুক্তি</a></dd>
                        <dd><a class="" href="/category/politics">রাজনীতি</a></dd>
                        <dd><a class="" href="/category/entertainment">বিনোদন</a></dd>
                        <dd><a class="" href="/category/life_style">জীবনযাপন</a></dd>
                        <dd ><a href="news/popular">সর্বাধিক পঠিত</a></dd>

                    </dl>
                    <div class="show-for-small-only choose">
                        <select onChange="window.location.href=this.value">
                            <option value="/">- Select Category -</option>
                            <option value="#">প্রচ্ছদ</option>
                            <option value="/category/bangladesh">বাংলাদেশ</option>
                            <option value="/category/international">আন্তর্জাতিক</option>
                            <option value="/category/economy">অর্থনীত</option>
                            <option value="/category/sports">খেলা</option>
                            <option value="/category/technology">বিজ্ঞান ও প্রযুক্তি</option>
                            <option value="/category/politics">রাজনীতি</option>
                            <option value="/category/entertainment">বিনোদন</option>
                            <option value="/category/life_style">জীবনযাপন</option>
                            <option value="news/popular">সর্বাধিক পঠিত</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" large-12 small-12 columns">
                    <div class="choose">
                        <select onChange="window.location.href=this.value">
                            <option value="/">- Select Newspaper-</option>
                            <option value="#/search/কোয়ান্টাম মেথড">কোয়ান্টাম মেথড</option>
                            <option value="#/search/আত্মনির্মাণ">আত্মনির্মাণ</option>
                            <option value="#/search/দৃষ্টিভঙ্গি">দৃষ্টিভঙ্গি</option>
                            <option value="#/search/শিক্ষায় সাফল্য">শিক্ষায় সাফল্য</option>
                            <option value="#/search/গুরুজীর আর্টিকেল">গুরুজীর আর্টিকেল</option>
                        </select>
                    </div>
                </div>
            </div>




            {% for news in newsset %}
                <div class="row">
                    <div class="large-2 columns small-3">

                        {% if news.image_url %}
                            <img src="{{ news.image_url }}"/>
                        {% else %}
                            <img src="{{ request.static_url('allnews:static/image/news_defaut.png')}}"/>
                        {% endif %}
                    </div>
                    <div class="large-10 columns">
                        <h4 class="heading"><a href="{{ news.detail_url}}">{{ news.title }}</a></h4>
                        <p>{{ news.description }} <a class=" secondary" href="{{ news.detail_url }}">--></a></p>
                        <ul class="inline-list">
                            <li class="radius info label"><a href="#"><strong>source:{{ news.source}}</strong></a></li>
                            <li  class="radius info label"><a href="">{{ news.created.strftime('%Y-%m-%d') }}</a></li>
                        </ul>
                    </div>
                </div>
                <hr/>
            {% endfor %}
            <div class="pagination-centered">
                <ul class="pagination" aria-label="Pagination">
                    {#                <li class="arrow unavailable"><a href="">&laquo; Previous</a></li>#}
                    {% if pager %}
                        {% for key, value in pager.items() %}
                            <li><a href="?next_page={{ key }}">{{ key }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {#                <li class="arrow"><a href="">Next &raquo;</a></li>#}
                </ul>
            </div>

        </div>
        <div class="large-1 columns hide-for-small ">

        </div>

    </div>
{% endblock %}